# ignore everything by default
*

# Go backend needs
!go.mod
!go.sum
!backend/**
!config/**

# Include Dockerfiles and entrypoint
!Dockerfile
!Dockerfile-db
!entrypoint.sh

# Include your SQL migrations
!db/migrations/**